
body{
  margin: 0;
  padding: 0;
}

:root{
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
}

.custom-prev-icon,
.custom-next-icon {
  color: black;
  background-color: white;
  border-radius: 1rem;
  font-size: 2rem;
  padding: 0.5rem;
  opacity: 1;
}

.btn-orange {
  background-color: var(--orange);
  color: white;
  font-weight: bold;
  padding: 0.8rem 0;
  width: 100%;
  border: none;
}

.btn-orange:hover {
  background-color: hsl(26, 100%, 46%);
}

.btn-orange:active {
  background-color: hsl(26deg 100% 40.23%);
}

.tabletNavFix{
  @media (min-width: 700px) and (orientation: landscape) {
    padding: 0.5rem 1rem 0 1rem;
  }
}

.navfix{
  @media (min-width: 600px) {
    margin-bottom: -0.5rem;
  }
}

// Navigation Link styles for md and bigger
.navActiveStyle {
  text-decoration: none;
  color: black;
  padding-bottom: 4px;
}

.navActiveStyle:hover {
  border-bottom: 2px solid #aaa; /* lighter color on hover */
}

.navActiveStyle.active {
  border-bottom: 2px solid black;
}



// ANIMATIONS
.fadeIn{
  animation: fadingIn 0.4s ease-in-out;
}

.fadeOut{
  animation: fadingOut 0.4s ease-in-out;
}

@keyframes fadingIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadingOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

